.cards {
    margin: 3em 3em 3em 3em;
    min-width: 90%;
    height: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1em;
    justify-items: center;
    
/*     display: flex;
    flex-direction: row;
    justify-content:first baseline;
    flex-grow: initial;
    flex-wrap: wrap;
    align-items: flex-start; */
    align-items: center;
}

.card {
    display: flex;
    max-width: 20em;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.911);
    margin: 2em;
    opacity: 0.95;
    font-size: 10px;
    position: relative;
}